h1 {
    color: yellow;
  }

  p {
    margin: 0 auto;
    width: 280px;
  }

  .center {
    margin: auto
  }

  /*For devices with a max screen-width of 280 pixels*/
  @media only screen and (max-width: 280px) {

    body,
    p {
      width: 95%;
    }

    h1 {
      font-size: 1.5em;
      margin: 0 0 0.3em;
    }


  }